<header class="site-header">
  <div class="container">
    <a href="/" class="logo">{{ site.name }}</a>

    <nav class="main-nav">
      <ul>
        <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Trabajos</a></li>
        <li><a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %}>Sobre mí</a></li>
        <li><a href="/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}>Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
